{% extends 'base.html' %}

{% block title %}Videos{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Videos</h1>
        </div>
        <div class="col-md-4">
            {% if request.user.is_authenticated %}
                <a href="/media/submit_video">Submit a Video From Magnolia House</a>
            {% else %}
                <a href="/accounts/login">Sign in</a> or <a href="/users/create_account">sign up</a> to add a video.
            {% endif %}
        </div>
    </div>
    <div id="react_container"></div>

    {% load staticfiles %}
    <script src={% static '/dist/videos.js' %}></script>

{% endblock %}