{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
         data-auto-logout-link="true" data-use-continue-as="true" onlogin="verifyLogin();"></div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <br>
    <a href="/signup">New Account</a>
    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

    {% load staticfiles %}
    <script src={% static '/dist/accounts.js' %}></script>
{% endblock %}