{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with"
         data-auto-logout-link="false" data-use-continue-as="true"></div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    {% load staticfiles %}
    <script src={% static '/dist/accounts.js' %}></script>
{% endblock %}
